/* General */

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    margin: 0;
}

li {
    color: #f0cd6e;
    list-style-type: none;
}

a {
    color: #f0cd6e;
    text-decoration: none;
}

/* Header */

.header {
    background: #2a3f3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 20vh;
}

.header .logo {
    font-size: 2em;
    font-weight: 1000;
    color: #f0cd6e;
}

.header .links {
    font-size: 1.5em;
    font-weight: 100;
    display: flex;
    gap: 1em;
}
