/* General */

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    margin: 0;
}

li {
    color: #f0cd6e;
    list-style-type: none;
}

a {
    color: #f0cd6e;
    text-decoration: none;
}

/* Header */

.header {
    background: #2a3f3f;
    padding: 1vh 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header .logo {
    font-size: 2em;
    font-weight: 1000;
    color: #f0cd6e;
}

.header .links {
    font-size: 1.5em;
    font-weight: 100;
    display: flex;
    gap: 1em;
}

/* Hero */

.hero {
    padding: 5vh 20vh;
    background: #2a3f3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero .content {
    display: flex;
    flex-direction: column;
}

.hero .title {
    color: #f0cd6e;
    font-size: 2.5em;
    font-weight: 1000;
    flex: 1;
    min-width: 100px;
    max-width: 490px;
}

.hero .text {
    color: #f0cd6e;
    font-size: 1.5em;
    font-weight: 100;
    flex: 1;
    min-width: 100px;
    max-width: 490px;
}

.hero img {
    border: 2px solid #f0cd6e;
    min-width: 100px;
    max-width: 490px;
    flex: 1;
}

.hero .button,
.hero a {
    background: #f0cd6e;
    color: #2a3f3f;
    font-size: 1em;
    border-radius: 0.5vh;
    border-style: none;
    margin: 2vh 0;
    align-self: center;
}

/* Thumbnails */

.thumbnails {
    background: #f0cd6e;
    padding: 5vh 20vh;
}

.thumbnails .title {
    color: #2a3f3f;
    font-size: 2.3em;
    font-weight: 1000;
    display: flex;
    padding-bottom: 5vh;
    justify-content: center;
    align-items: center;
}

.thumbnails .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 10vh;

}

.thumbnails .text {
    color: #2a3f3f;
    font-size: 1.3em;
    font-weight: 100;
    text-align: center;
    max-width: 200px;
    padding-top: 2vh;
}

/* Quote */

.quote {
    background: #2a3f3f;
    color: #f0cd6e;
    padding: 5vh 40vh;
    display: flex;
    flex-direction: column;
}

.quote .text {
    font-size: 2em;
    font-weight: 200;
    text-align: justify;
    flex: 1;
}

.quote .author {
    align-self: flex-end;
    font-size: 2em;
    font-weight: 500;
    text-align: justify;
}

/* Footer */

.footer {
    background: #f0cd6e;
    padding: 5vh 20vh;
}

.footer .frame {
    border-radius: 1vh;
    padding: 5vh 5vh;
    background: #2a3f3f;
    color: #f0cd6e;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer .title {
    font-size: 2em;
    font-weight: 1000;
    text-align: justify;
}

.footer .text {
    font-size: 1.5em;
    font-weight: 100;
    text-align: justify;
}


.footer .button,
.footer a {
    background: #f0cd6e;
    color: #2a3f3f;
    font-size: 1.1em;
    border-radius: 0.5vh;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}