/* Var */
:root {
    /* Color */
    --gold-color: #f0cd6e;
    --dark-green-color: #2a3f3f;
    /* Margin */
    --horizontal-margin: 1.5vh 0;
    --vertical-margin: 0 2.5vh;
    /* Padding */
    --square-padding: 5vh 5vh;
    --medium-section-padding: 5vh 20vh;
    --big-section-padding: 5vh 40vh;
    --button-padding: 2vh 2vh;
    /* Font */
    --bigger-size: 2.5rem;
    --big-size: 2rem;
    --medium-size: 1.5rem;
    --small-size: 1.3rem;
    --smaller-size: 1rem;
    --bold: 500;
    --ultra-bold: 1000;
    --ultra-thin: 100;
    /* Gap */
    --small-gap: 3vh;
    --medium-gap: 5vh;
    --big-gap: 10vh;
    /* Geometry */
    --header-max-width-element: 490px;
    --header-min-width-element: 100px;
    /* Border */
    --round: 0.5vh;
    /* Shadow */
    --shadow: 0 3px 20px #000000;
}


/* General */
body {
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
li, a {
    color: var(--gold-color);
    list-style-type: none;
    text-decoration: none;
}


/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--gold-color);
    padding: 1vh 20vh;
    background: var(--dark-green-color);
}
.header .logo {
    color: var(--gold-color);
    font-size: var(--big-size);
    font-weight: var(--ultra-bold);
    margin: var(--horizontal-margin);
}
.header .links {
    display: flex;
    flex-wrap: wrap;
    gap: var(--small-gap);
    font-size: var(--medium-size);
    font-weight: var(--ultra-thin);
    margin: var(--horizontal-margin);
}


/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--medium-section-padding);
    background: var(--dark-green-color);
}
.hero .title,
.hero .text,
.hero img {
    flex: 1;
    min-width: var(--header-min-width-element);
    max-width: var(--header-max-width-element);
    margin: var(--horizontal-margin);
    color: var(--gold-color);
    text-align: justify;
}
.hero .content {
    display: flex;
    flex-direction: column;
    margin: var(--vertical-margin);
}
.hero .title {
    font-size: var(--bigger-size);
    font-weight: var(--ultra-bold);
}
.hero .text {
    font-size: var(--medium-size);
    font-weight: var(--ultra-thin);
}
.hero img {
    border: 2px solid var(--gold-color);
}
.hero .button {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: var(--button-padding);
    border-radius: var(--round);
    border-style: none;
    background: var(--gold-color);
    box-shadow: var(--shadow);
    font-size: var(--small-size);
    color: var(--dark-green-color);
}


/* Thumbnails */
.thumbnails {
    background: var(--gold-color);
    padding: var(--medium-section-padding);
}
.thumbnails .title,
.thumbnails .text {
    color: var(--dark-green-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnails .title {
    font-size: var(--big-size);
    font-weight: var(--ultra-bold);
}
.thumbnails .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: var(--big-gap);
    padding-top: 5vh;
}
.thumbnails .text {
    font-size: var(--small-size);
    font-weight: var(--ultra-thin);
    text-align: center;
    max-width: 200px;
    padding-top: 2vh;
}

/* Quote */
.quote {
    background: var(--dark-green-color);
    color: var(--gold-color);
    padding: var(--big-section-padding);
    display: flex;
    flex-direction: column;
}
.quote .text,
.quote .author {
    font-size: var(--big-size);
    text-align: justify;
}
.quote .text {
    font-weight: var(--ultra-thin);
    flex: 1;
}
.quote .author {
    font-weight: var(--bold);
    align-self: flex-end;
}


/* Footer */
.footer {
    background: var(--gold-color);
    padding: var(--big-section-padding);
}
.footer .frame,
.footer .button {
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: var(--round);
    background: var(--dark-green-color);
    color: var(--gold-color);
}
.footer .frame {
    padding: var(--square-padding);
    justify-content: space-between;
}
.footer .title,
.footer .text {
    text-align: justify;
}
.footer .title {
    font-size: var(--big-size);
    font-weight: var(--ultra-bold);
}
.footer .text {
    font-size: var(--medium-size);
    font-weight: var(--ultra-thin);
}
.footer .button {
    box-shadow: var(--shadow);
    border-style: none;
    font-size: var(--smaller-size);
    padding: var(--button-padding);
    background: var(--gold-color);
    color: var(--dark-green-color);
}

/* Hover */
.hover
 {
    transition: transform 1s;
    will-change: transform;
}
.hover:hover {
    transform: translateY(10px);
}